BEGIN;
--
-- Create model User
--
CREATE TABLE "authentication_user" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "password" varchar(128) NOT NULL, "last_login" timestamp with time zone NULL, "is_superuser" boolean NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" boolean NOT NULL, "is_active" boolean NOT NULL, "date_joined" timestamp with time zone NOT NULL, "role" varchar(10) NOT NULL);
CREATE TABLE "authentication_user_groups" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "user_id" bigint NOT NULL, "group_id" integer NOT NULL);
CREATE TABLE "authentication_user_user_permissions" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "user_id" bigint NOT NULL, "permission_id" integer NOT NULL);
CREATE INDEX "authentication_user_username_a09a089e_like" ON "authentication_user" ("username" varchar_pattern_ops);
ALTER TABLE "authentication_user_groups" ADD CONSTRAINT "authentication_user_groups_user_id_group_id_8af031ac_uniq" UNIQUE ("user_id", "group_id");
ALTER TABLE "authentication_user_groups" ADD CONSTRAINT "authentication_user__user_id_30868577_fk_authentic" FOREIGN KEY ("user_id") REFERENCES "authentication_user" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "authentication_user_groups" ADD CONSTRAINT "authentication_user_groups_group_id_6b5c44b7_fk_auth_group_id" FOREIGN KEY ("group_id") REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "authentication_user_groups_user_id_30868577" ON "authentication_user_groups" ("user_id");
CREATE INDEX "authentication_user_groups_group_id_6b5c44b7" ON "authentication_user_groups" ("group_id");
ALTER TABLE "authentication_user_user_permissions" ADD CONSTRAINT "authentication_user_user_user_id_permission_id_ec51b09f_uniq" UNIQUE ("user_id", "permission_id");
ALTER TABLE "authentication_user_user_permissions" ADD CONSTRAINT "authentication_user__user_id_736ebf7e_fk_authentic" FOREIGN KEY ("user_id") REFERENCES "authentication_user" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "authentication_user_user_permissions" ADD CONSTRAINT "authentication_user__permission_id_ea6be19a_fk_auth_perm" FOREIGN KEY ("permission_id") REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "authentication_user_user_permissions_user_id_736ebf7e" ON "authentication_user_user_permissions" ("user_id");
CREATE INDEX "authentication_user_user_permissions_permission_id_ea6be19a" ON "authentication_user_user_permissions" ("permission_id");
COMMIT;
BEGIN;
--
-- Create model Quiz
--
CREATE TABLE "quizzes_quiz" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "title" varchar(255) NOT NULL, "description" text NOT NULL, "passing_score" integer NOT NULL, "status" varchar(10) NOT NULL, "created_at" timestamp with time zone NOT NULL);
--
-- Create model Question
--
CREATE TABLE "quizzes_question" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "text" text NOT NULL, "quiz_id" bigint NOT NULL);
--
-- Create model Option
--
CREATE TABLE "quizzes_option" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "text" varchar(255) NOT NULL, "is_correct" boolean NOT NULL, "question_id" bigint NOT NULL);
--
-- Create model Attempt
--
CREATE TABLE "quizzes_attempt" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "score" integer NOT NULL, "percentage" double precision NOT NULL, "correct_answers" integer NOT NULL, "incorrect_answers" integer NOT NULL, "unanswered" integer NOT NULL, "status" varchar(20) NOT NULL, "created_at" timestamp with time zone NOT NULL, "completed_at" timestamp with time zone NULL, "quiz_id" bigint NOT NULL, "user_id" bigint NOT NULL);
--
-- Create model Answer
--
CREATE TABLE "quizzes_answer" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "is_correct" boolean NOT NULL, "attempt_id" bigint NOT NULL, "question_id" bigint NOT NULL, "selected_option_id" bigint NULL);
ALTER TABLE "quizzes_question" ADD CONSTRAINT "quizzes_question_quiz_id_70961654_fk_quizzes_quiz_id" FOREIGN KEY ("quiz_id") REFERENCES "quizzes_quiz" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "quizzes_question_quiz_id_70961654" ON "quizzes_question" ("quiz_id");
ALTER TABLE "quizzes_option" ADD CONSTRAINT "quizzes_option_question_id_6a357926_fk_quizzes_question_id" FOREIGN KEY ("question_id") REFERENCES "quizzes_question" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "quizzes_option_question_id_6a357926" ON "quizzes_option" ("question_id");
ALTER TABLE "quizzes_attempt" ADD CONSTRAINT "quizzes_attempt_quiz_id_5dc3f292_fk_quizzes_quiz_id" FOREIGN KEY ("quiz_id") REFERENCES "quizzes_quiz" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "quizzes_attempt" ADD CONSTRAINT "quizzes_attempt_user_id_ef81d7e3_fk_authentication_user_id" FOREIGN KEY ("user_id") REFERENCES "authentication_user" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "quizzes_attempt_quiz_id_5dc3f292" ON "quizzes_attempt" ("quiz_id");
CREATE INDEX "quizzes_attempt_user_id_ef81d7e3" ON "quizzes_attempt" ("user_id");
ALTER TABLE "quizzes_answer" ADD CONSTRAINT "quizzes_answer_attempt_id_edb0a031_fk_quizzes_attempt_id" FOREIGN KEY ("attempt_id") REFERENCES "quizzes_attempt" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "quizzes_answer" ADD CONSTRAINT "quizzes_answer_question_id_7e471477_fk_quizzes_question_id" FOREIGN KEY ("question_id") REFERENCES "quizzes_question" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "quizzes_answer" ADD CONSTRAINT "quizzes_answer_selected_option_id_a0f0e256_fk_quizzes_option_id" FOREIGN KEY ("selected_option_id") REFERENCES "quizzes_option" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "quizzes_answer_attempt_id_edb0a031" ON "quizzes_answer" ("attempt_id");
CREATE INDEX "quizzes_answer_question_id_7e471477" ON "quizzes_answer" ("question_id");
CREATE INDEX "quizzes_answer_selected_option_id_a0f0e256" ON "quizzes_answer" ("selected_option_id");
COMMIT;
BEGIN;
--
-- Add field category_name to quiz
--
ALTER TABLE "quizzes_quiz" ADD COLUMN "category_name" varchar(100) DEFAULT 'General' NOT NULL;
ALTER TABLE "quizzes_quiz" ALTER COLUMN "category_name" DROP DEFAULT;
--
-- Add field difficulty to quiz
--
ALTER TABLE "quizzes_quiz" ADD COLUMN "difficulty" varchar(50) DEFAULT 'Beginner' NOT NULL;
ALTER TABLE "quizzes_quiz" ALTER COLUMN "difficulty" DROP DEFAULT;
--
-- Add field duration to quiz
--
ALTER TABLE "quizzes_quiz" ADD COLUMN "duration" integer DEFAULT 10 NOT NULL;
ALTER TABLE "quizzes_quiz" ALTER COLUMN "duration" DROP DEFAULT;
COMMIT;
